* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
    border-radius: 2px;
    
}

body {
    background-color: rgb(26, 47, 47);
    font-family: Avenir

}

h1 {
    margin-top: 0;
    text-align: center;
}

.grid-gallery {
    --spacing: 7px;
    background-color: BLACK;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);
    padding: var(--spacing);
}

.card {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.card__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.5);
    transition: transform .28s;
   
}

.card__overlay {
    background-color: rgba(88, 119, 98, 0.5);
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 3rem;
    color:lightgray;
    text-shadow: #2fffa803;
    font-weight: lighter;

    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    transition: opacity .25s;

    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */

    /* inset: 0; another option */
}

.card:hover .card__overlay {
    opacity: 1;
}

.card:hover .card__img {
    transform: scale(1);
}

.ow {
    object-position: top;
    transform: translate(-26%,97%) scale(4);
}


.ow1 {
    object-position: top;
    transform: translate(27%,165%) scale(4.5);
}
.skin {
    transform: translate(-483%, -160%) scale(12);
    object-fit: contain;
    object-position:bottom;
}

.card:hover .skin {
    transform: translate(470%, -160%) scale(12);
    object-position:bottom;
    object-fit: contain;
    transition: transform 2.5s;

}

.leaf {
    object-position: top;
    transform: translate(-12%, 10%) scale(5);
 
    

}
.monkey{

    object-position: top;
    transform: translate(3%, 30%) scale(2.5);
}
.bot {
   
    transform: translate(4%, 23%) scale(3);

}

.dg {

    object-position: top;
    transform: translate(210%, 220%) scale(7);
}

.card:hover .bot {
    transform: translate(0, -15%) scale(1.7);
    object-fit:contain;
}
.card:hover .dg {
    transform: translate(46%, 40%) scale(2);
    object-fit:contain;
}

.bubbles {

    transform: translate(223%, -120%) scale(7);
    object-fit: contain;
    object-position:bottom;
}

.card:hover .bubbles{

    transform: translate(-260%, -120%) scale(7);
    object-fit: contain;
    object-position:bottom;
    transition: transform 2.0s;
}

.emma {
    transform: translate(-60%, 45%) scale(4);
    object-fit: contain;
    object-position:bottom;
}

.card:hover .emma {
   
   
    transform: translate(-10%, -15%) scale(1.5);
    
    
    
}


.ana {
    transform: translate(5%, 30%) scale(2.5);
    object-fit: contain;
    object-position:bottom;
}

.card:hover .ana {
   
   
    transform: translate(0%, 0%) scale(1.3);
    
    
    
}

.steve {
    transform: translate(-20%, 36%) scale(3);
    object-fit: contain;
    object-position:bottom;

}
.card:hover .steve {

    transform: translate(0%, 0%) scale(1.2);
    
}

.widow {
    transform: translate(0%, 30%) scale(2.7);
    object-fit: contain;
    object-position:bottom;

}
.card:hover .widow {

    transform: translate(0%, 0%) scale(1.2);
    
}

/* .card:hover .ow {
    transform: scale(1);
}
.car:hover .leaf {
    transform: scale(1);
    
} */


/* Consider this media query its own mini stylesheet inside of your stylesheet, which takes effect once your screen width is less than 500px */

@media (min-width: 700px) {
    .grid-gallery {
       grid-template-columns: 1fr 1fr;
    }
} 
@media (min-width: 900px) {
    .grid-gallery {
       grid-template-columns: 1fr 1fr 1fr;
    }
} 
@media (min-width: 1100px) {
    .grid-gallery {
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} 



/*---------------------Bio Section ------------------------*/

.bio-section {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for opacity */
    padding: 2%; /* Adjust as needed */
    text-align: center;
}

.bio-box {
    max-width: 100rem;
    margin: auto;
    background-color: rgba(93, 255, 182, 0.02); /* Adjust the last value for opacity */
    border-radius: 10px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2em; /* Adjust as needed */
    font-size: clamp(2rem, 2vw, 4rem);
}

.bio-box h2, .bio-box p {
    color: rgb(208, 208, 208);
    text-align: left;
    
}

/* Media Queries for smaller screens */
@media (max-width: 600px) {
    .bio-box {
         /* Adjust as needed for smaller screens */
        padding: 10%; /* Adjust as needed for smaller screens */
    }

    /* h2, p {
        font-size: 2rem;
    } */
}

/* @media (max-width: 800px) {
    
    h2, p {
        font-size: 2rem;
    }
} */

/*---------------------Bio Section ------------------------*/

#scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2fffa803;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}
html, body {
    scroll-behavior: smooth;
}

